RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

AddType application/x-httpd-php .html .htm
<Files "Setting.json">
Order Allow,Deny
Deny from all
</Files>